trackingFile.db
NFCSystem/.pio
NFCSystem/.vscode/.browse.c_cpp.db*
NFCSystem/.vscode/c_cpp_properties.json
NFCSystem/.vscode/launch.json
NFCSystem/.vscode/ipch
NFCSystem/include/config.h
prototypeAprils.py
protoTypeCartSystem.py
.env
generate_cert.py
key.pem
cert.pem
__pycache__/
.claude/
tap.py
